@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Light'), url('./fonts/Rubik[wght].woff') format('woff');
}
    

@font-face {
    font-family: 'Rubik Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Rubik Light Italic'), url('./fonts/Rubik-Italic[wght].woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    --primeGray--: #6D5B67;
  }

.content{
    width: 100vw;  /* Full width */
    height: 100vh; /* Full height */
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    box-sizing: border-box;
    background: linear-gradient(230deg, rgba(115,86,104,1) 0%, rgba(45,35,42,1) 100%);
}

.logo{
    position: absolute;
    left: 47px;
    top: 12px;
    width: 147px;
    height: 47px;
}

.container{
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 1080px;
    height: 542px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.illustration{
    /* border-left: 1px solid rgb(0, 0, 0); */
    background: linear-gradient(0deg, rgba(181,181,181,1) 38%, rgba(224,224,224,1) 38%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 635px;
}

.illustration img{
    display: flex;
    width: 528.47px;
    height: 336px;
}

.fillOut{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 445px;
    height: 100%;
}

.fillOut2{
    /* border: 1px solid rgb(53, 255, 63); */
    width: 331px;
    height: 380px;
}

.header{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 26px;
    /* border: 1px solid rgb(53, 255, 63); */
}

.inputs .text{
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--primeGray--);
    /* border: 1px solid rgb(53, 255, 63); */
}

.inputs{
    position: relative;
    /* border: 1px solid rgb(53, 255, 63); */
}

.inputs input{
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 25px;
    padding: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

.inputs input:focus {
    outline: none;
}

.hidePassword {
    width: 24px;
    height: 24px; 
    position: absolute;
    cursor: pointer;
    right: 16px;   
    top: 50px;
    transition: opacity 0.3s ease;
}

.hidePassword:hover {
    opacity: 0.8;
}

.hidePassword2 {
    width: 24px;
    height: 24px; 
    position: absolute;
    cursor: pointer;
    right: 16px;   
    top: 33px;
    transition: opacity 0.3s ease;
}

.hidePassword2:hover {
    opacity: 0.8;
}

.createPassButton{
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    background-color: #292227;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.createPassButton:hover{
    background-color: #5a5358;
}

.backButton{
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #6D5B67;
    margin: 30px;
}

.backButton a{
    color: black;
    margin-left: 10px;
}

